<%= mail_heading "Your tickets" %>
<%= mail_text "Hello," %>
<%= mail_text "Use the link below to open your orders and download your tickets." %>
<p style="margin:0 0 20px;"><%= mail_button "View my tickets", @url %></p>
<%= mail_note "The link works for 24 hours. If you did not request it, you can ignore this email." %>
<%= mail_text "See you in Pune." %>
